/* General Styles */
body {
    font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(18, 8, 8);
    color: #ECF0F1;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height */
    min-height: 100vh; /* Minimum height to cover viewport */
    overflow-x: hidden; /* Prevent horizontal scroll */
}


main {
    flex: 1;
    position: relative;
    text-align: center; /* Center-align the text */
}

.main-container {
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    max-width: 100vw; 
    margin: 0 auto; /* Center horizontally */
    padding: 10px; /* Optional: padding around content */
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 0vh;
    margin-bottom: 10vh;
    font-size: 3em;
    margin: 0;
    font-weight: 500;
    color: #ffffff; /* Adjust color as needed */
}

h2, h3, h4, h5, h6 {
    font-size: 2em;
    margin-bottom: 2px;
    margin: 0.5em 0;
    font-weight: 0.5;
    color: #ddd;
}

p {
    color: #ffffff;
    margin-bottom: 2.5em;
    font-weight: 100;
    font-size: 1.6em;
}

.subheader {
    position: relative;
    text-align: center; /* Center-align the text */
    top: 0; /* Fixed at the top of the viewport */
    left: 0;
    width: 100%;
    padding: 20px 0; /* Padding for spacing */
    margin-top: 20vh;
}

.subheader h1 {
    font-size: 3em;
    margin: 0;
    font-weight: 500;
    color: #ffffff; /* Adjust color as needed */
}

/* About Styles */
.about-us-text-box {
    width: 70%;
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Space inside the box */
    margin-top: 20px; /* Space above the section */
    margin-left: 15%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    text-align: justify;
    
}


/* Header Styles */
.header {
    background-color: rgba(18, 8, 8);
    padding: 10px 50px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.7);
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: left;
    gap: 5px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 60%;
    max-width: 60%;
}

.language-toggle {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
}

.language-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.891);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0.5em 1em;
    border-radius: 10px;
    z-index: 1000;
    min-width: 150px;
}

.language-dropdown a {
    display: block;
    padding: 10px 0;
    color: #0a3288;
    text-decoration: none;
    display: block;
}

.language-dropdown a:hover {
    color: #0a3288;
}

.language-dropdown.active {
    display: block;
}


.nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    box-sizing: border-box;
    width: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    width: auto;
}

.nav-menu ul {
    list-style: none;
    display: flex; /* Ensure that list items are displayed inline */
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0.5em 0; /* Add spacing between items */
}

.nav-menu a {
    display: block;
    font-size: 1.8em;
    text-decoration: none; /* Remove underlines */
    padding: 2vh;
    font-weight: 500;
    color: white;
    text-align: center;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-menu a:hover {
    color: #0a3288;;
    border-radius: 5px;
}

/* Footer Styles */
.footer {
    text-align: center;
    font-weight: 100;
    padding: 0.5em;
    margin-bottom: 5vh;
    margin-top: 5vh;
    background-color: rgb(18, 8, 8);
    color: #ffffff;
    width: 100%;
}

/* Welcome Section */
.welcome-section {
    position: relative;
    text-align: center; /* Center-align the text */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-box {
    position: relative;
    align-content: center;
    justify-content: center;
    background-size: cover; /* Ensure the background image covers the container */
    background-position: center; /* Start with centered background image */
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 100%;
    max-width: 100%;
    height: 50vh; 
    color: (18, 8, 8);
    border: 15px solid (18, 8, 8);
    box-sizing: content-box;
    overflow: hidden; /* Hide overflow to avoid scrollbars due to zoom effect */
}
.image-box-content {
    position: relative; /* Ensure the content stays in place */
    z-index: 1; /* Make sure text appears above the zooming background */
}

.image-box.zoom {
    background-size: 110%; /* Zoom in by increasing background size */
    transition: background-size 1s ease; /* Smooth transition for zoom effect */
}

.image-box h1 {
    font-size: 2.5em;
    font-weight: 300;
    color: white;
    text-align: center;
}

.image-box p {
    font-size: 1.5em;
    margin: 1em 0;
    color: #dde2e5;
}

.image-box .btn-primary {
    color: #ECF0F1;
    padding: 20px 20px;
    border: 1.5px solid white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 2em;
    transition: background-color 0.3s ease;
    max-width: 20%; 
}

.btn-primary:hover {
    background-color: #cb4343;
    border-radius: 30px;
}

.textbox {
    background-color: (18, 8, 8);
    align-content: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 80%;
    margin-top: 0vh;
    margin-bottom: 20vh;
    box-sizing: content-box;
    text-align: center;
    align-self: center;
}

.textbox p {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #dde2e5;
}

.textbox-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    justify-content: center;
}

.textbox-buttons .btn-primary {
    color: #ECF0F1;
    padding: 20px 50px;
    border: 1.5px solid white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.7em;
    transition: background-color 0.3s ease;
}


.textbox-buttons .btn-primary:hover {
    background-color: #cb4343;
    border-radius: 30px;
}


.textbox.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.textbox.left-right .textbox-left,
.textbox.left-right .textbox-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.textbox.left-right .textbox-left p,
.textbox.left-right .textbox-right p {
    font-size: 2.5em;
    color: #dde2e5;
}

.textbox.left-right .textbox-left .btn-primary,
.textbox.left-right .textbox-right .btn-primary {
    color: #ECF0F1;
    padding: 20px 50px;
    border: 1.5px solid white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.7em; /* Slightly reduced font size */
    transition: background-color 0.3s ease;
    width: auto; /* Ensure the button sizes according to its content */
    max-width: 70%; /* Limit the width to make the button narrower */
    margin: 0 auto; /* Center the buttons */
    text-align: center;
}


/* */
/* */
/* */
/* Product Section */


/* Carousel Menu */
.product-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Adjust this height to match the height of the cards */
    padding: 5vw;
}

.carousel-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 20vh;
    gap: 30px;
    padding: 0;
    overflow: hidden;

}

.carousel-card {
    flex: 0 0 400px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    transition: transform 0.4s ease-in-out; /* Smooth transition for scaling */
    margin: 0 50px; 
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
}

.carousel-card.selected {
    border: 4px solid blue;
    transform: scale(1.1);
    border-radius: 10px;
    z-index: 1;}

.card-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
}

.card-content a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


.slick-arrow {
    border: none;
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    cursor: pointer;
}

.slick-prev {
    left: 10px;
    color: blue;
}

.slick-next {
    right: 10px;
    color: blue;
}

.slick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent horizontal scroll */
    height: 20vh;
}

.slick-slide {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}



/* Product List */

.product-list {
    padding: 5vh;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above its final position */
    transition: opacity 1.5s ease-in-out;
    margin-bottom: 5vh;
}

.product-list.show {
    opacity: 1;
}

.product-item {
    justify-self: center;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    border-color: 5px #ECF0F1;
    text-align: left;
}

.product-item h2 {
    font-size: 1.7em;
    margin-bottom: 15px;
    color: #160dc4;
}

.product-item p {
    font-size: 18px;
    color: #dbd5d5;
    line-height: 1.5;
}





/* */
/* */
/* */
/* Contact Section */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
    margin-top: 10vh;
    padding: 5vh;

}

.contact-section .contact-item {
    text-align: center;
}

.contact-section .contact-item h3 {
    font-size: 2em;
    color: #ffffff;
}

.contact-section .contact-item p {
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.contact-section .contact-item .contact-icon {
    font-size: 3em; /* Adjust size as needed */
    color: #ffffff;
}

.contact-section h1{
    font-size: 3em;
    margin-bottom: 2px;
    text-align: center;
    margin-top: 0vh;
    margin-bottom: 10vh;
    font-weight: 0.5;
}

/* Contact Information */
.contact-info {
    display: flex;
    justify-content: center;
    gap: 10vh;
    margin-bottom: 0vh;
    text-align: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    color: #dde2e5;
}

.info-item i {
    font-size: 2em;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 1.7em;
    margin-bottom: 2px;
}

/* Map */
.map-section {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.map-section iframe {
    width: 100%;
    height: 30vh;
    border: none;
}

/* Contact Form */
.contact-form {
    border-radius: 30px;
    max-width: 70%;
    margin-top: 8vh;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 5vh;
}

.contact-form label {
    font-size: 1.8em;
    color: #ddd; /* Adjust color for better readability */
    margin-bottom: 0px; /* Space between label and input */
    text-align: left; /* Left align labels */
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    background-color: rgb(18, 8, 8);
    border-radius: 4px;
    font-size: 1.7em;
}

.contact-form textarea {
    resize: horizontal; /* Allow vertical resizing */
}

.contact-form button {
    background-color: rgb(18, 8, 8);
    border-color: #ffffff;
    color: white;
    padding: 20px 20px;
    font-size: 1.7em;
    border-radius: 30px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #cb4343;
    border-radius: 45px;
}

/* FAQ Section Styles */


.faq-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 5vh;
    margin-right: 4vh;
    padding: 10%;

}


/* Responsive Styles */
@media (max-width: 768px) {
    .about-us-text-box {
        width: 70%;
        border-radius: 8px; /* Rounded corners */
        padding: 20px; /* Space inside the box */
        margin-top: 20px; /* Space above the section */
        margin-left: 10%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */        
    }

    p {
        color: #ffffff;
        margin-bottom: 2em;
        font-weight: 50;
        font-size: 1.0em;
        margin: 0.5em 0;
        text-align: justify;
    }

    .subheader h1 {
        font-size: 1.6em;
        margin: 1em;
        font-weight: 500;
        color: #ffffff; /* Adjust color as needed */
    }
    .main-container {
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        position: relative;
        text-align: center; /* Center-align the text */

        width: 100vw; 
    }

    .header {
        padding: 1em 2em;
        margin: 0em 1;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.);
        position: fixed;
        top: 0;
        width: 100%;
        height: 10%;
        box-sizing: border-box;
        z-index: 1000;
        margin-bottom: 10vh;
        margin-top: 0%;
    }
    .nav-menu {
        flex-direction: row;
    }

    .nav-menu a {
        font-size: 0.6em; /* Adjust font size for smaller screens */
        padding: 0.3vh;
    }

    .nav-menu li {
        margin: 0em 0; /* Add spacing between items */
    }

    .language-toggle {
        font-size: 0.7em;

    }

    .image-box {
        height: 60vh; 
        width:50vh;
        padding: 10px;
        margin-top: 10vh;
    }

    .image-box h1 {
        font-size: 0.9em; 
    }


    .textbox.visible {
        opacity: 1;
        transform: translateY(0); /* Move to original position */
    }

    .textbox p {
        font-size: 0.9em; 
        font-weight: 100;
    }

    .textbox-buttons .btn-primary {
        color: #ffffff;
        border: 1px solid #ffeded;
        font-size: 0.7em;
        padding: 10px 20px;

    }
    .textbox.left-right .textbox-left p,
    .textbox.left-right .textbox-right p {
        font-size: 0.9em;
        color: #dde2e5;
    }

    .textbox.left-right .textbox-left .btn-primary,
    .textbox.left-right .textbox-right .btn-primary {
        padding: 10px 20px;
        border: 1px solid white;
        border-radius: 30px;
        text-decoration: none;
        font-size: 0.7em;
        transition: background-color 0.3s ease;
    }
 

    .image-box .btn-primary {
        padding: 10px 20px;
        border: 1px solid white;
        border-radius: 30px;
        text-decoration: none;
        font-size: 0.7em;
        transition: background-color 0.3s ease;
    }


    .footer {
        padding: 0.2em;
        font-size: 0.2em; 
    }


    .map-section iframe {
        width: 70%;
        border: none;
    }

    .contact-section {
        border-radius: 10px;
        width: 100%;
        max-width: 100%;
        margin: 0%;
        box-sizing: content-box;
        text-align: center;
        align-self: center;
        font-size: 0.7em;
    }
    
    .contact-section h1{
        margin-bottom: 1px;
        text-align: center;
        font-weight: 0.5;
    }

    .contact-info {
        flex-direction: column; /* Stack info-items vertically on smaller screens */
        gap: 20px; /* Adjust spacing between items for smaller screens */
        margin-top: 20px;
        text-align: center;
        
    }

    .info-item {
        width: 100%; /* Ensure each item takes full width on mobile */
        text-align: center; /* Center text within each item */
    }

    .contact-form {
        border-radius: 30px;
        max-width: 70%;
        margin: 0 auto; /* Center the form horizontally */
    }
    
    .contact-form form {
        gap: 15px;
    }
    
    .contact-form label {
        font-size: 0.8em;
        margin-bottom: 0px; /* Space between label and input */
        text-align: left; /* Left align labels */
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        background-color: rgb(18, 8, 8);
        border-radius: 4px;
        font-size: 1.7em;
    }
    
    .contact-form textarea {
        resize: horizontal; /* Allow vertical resizing */
    }
    
    .contact-form button {
        background-color: rgb(18, 8, 8);
        border-color: #ffffff;
        color: white;
        padding: 15px 30px;
        font-size: 0.7em;
        border-radius: 30px;
        cursor: pointer;
        width: 100px;
        transition: background-color 0.3s ease;
    }

    .carousel-card {
        flex: 0 0 400px;
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        color: white;
        transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
        margin: 0 50px; 
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    .carousel-card.selected {
        border: 4px solid blue;
        transform: scale(1.1);
        border-radius: 10px;
        z-index: 1;}
    
    .card-content {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 30px;
        height: 40px;
    }
    
    .card-content a {
        font-size: 10px;
    }

    .product-list {
        padding: 5vh;
        width: 80vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        opacity: 0;
        transform: translateY(-20px); /* Start slightly above its final position */
        transition: opacity 1.5s ease-in-out;
        margin-bottom: 5vh;
    }
    .product-item h2 {
        font-size: 16px;
        margin-bottom: 2px;
    }
    
    .product-item p {
        font-size: 11px;
        color: #dbd5d5;
        line-height: 1.5;
    }

    .faq-item h2 {
        font-size: 1.6em;
        margin: 0.5em 0;
    }
    
    .faq-item p {
        font-size: 1.0em;
        margin: 0.5em 0;
    }


    
    

}